* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(245, 180, 60);
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 100%;
    background-color: rgb(14, 13, 13);
}

li a {
    display: block;
    text-decoration: none;
    padding: 12px 10px;
    color: white;
}

li a:hover {
    background-color: #555;
    color: white;
}

.fa-th-large {
    font-size: 15px;
}

.fa-user-circle {
    font-size: 40px;
}

.ukuran {
    position: absolute;
    top: 71px;
    left: 50px;
}

.tombol {
    position: absolute;
    top: 51px;
    left: 175px;
    background-color: orange;
    border-style: none;
    width: 90px;
    height: 25px;
}

.tombol:hover {
    background-color: rgb(214, 148, 25);
    cursor: pointer;
}

input[type="submit"] {
    background-color: white;
    border-radius: 3px;
    border-style: none;
    width: 60px;
    height: 25px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(241, 235, 235);
}

.teks {
    height: 20px;
    width: 645px;
}

.halaman {
    float: right;
    position: absolute;
    right: 680px;
    bottom: 420px;
}

table {
    background-color: rgb(33, 241, 241);
    position: absolute;
    top: 50px;
    left: 172px;
    font-size: 18px;
    width: 83%;
}

.jarak {
    padding: 10px;
}